/* Blocos padrão (para largura de celular). */

.description {
    margin-bottom: 1rem;
    padding: 1rem;
    font-weight: bold;
}

/* Blocos específicos para largura de tablet. */

@media (min-width: 500px) {
}

/* Blocos específicos para largura de desktop. */

@media (min-width: 800px) {
}

/* Blocos específicos para dispositivos não-touch. */

@media (hover: hover) and (pointer: fine) {
}
