/* Blocos padrão (para largura de celular). */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--foreground-color);
    color: var(--background-color);
}

.header p {
    font-weight: bold;
}

.auth, .auth:active {
    margin-top: 1.5rem;
    border-width: 0;
    border-radius: .5rem;
    padding: .5rem;
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-size: 1rem;
    font-weight: bold;
}

.main {
    flex-grow: 1;
    align-self: center;
    width: min(var(--max-width), 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.paragraphs p {
    margin-bottom: 1rem;
}

.paragraphs p:first-child {
    font-weight: bold;
}

.paragraphs p:not(:first-child) {
    text-decoration: underline;
}

/* Blocos específicos para largura de tablet. */

@media (min-width: 500px) {
    .header {
        flex-direction: row;
    }

    .auth, .auth:active {
        margin-top: 0;
    }
}

/* Blocos específicos para largura de desktop. */

@media (min-width: 800px) {
}

/* Blocos específicos para dispositivos não-touch. */

@media (hover: hover) and (pointer: fine) {
}
